body {
    font-family: Arial, sans-serif;
    background-color: #c0b62c;
    color: #333;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 20px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    bottom: 0;
    left: 0;
    /* position: fixed; */
}
